{
  "name": "{{#npmName}}{{{npmName}}}{{/npmName}}{{^npmName}}typescript-fetch-api{{/npmName}}",
  "version": "{{#npmVersion}}{{{npmVersion}}}{{/npmVersion}}{{^npmVersion}}0.0.0{{/npmVersion}}",
  "license": "Unlicense",
  "main": "./dist/api.js",
  "browser": "./dist/api.js",
  "dependencies": {
    "isomorphic-fetch": "^2.2.1",
    "es6-shim": "^0.35.3",
    "qs": "6.2.0",
    "isomorphic-fetch": "^2.2.1",
    "typescript": "2.2.1",
    "url": "^0.11.0"
  },
  "scripts" : {
    "prepublish" : "tsc", 
    "test": "tslint api.ts"
  },
  "devDependencies": {
    "@types/isomorphic-fetch": "0.0.33",
    "@types/es6-promise": "0.0.32",
    "@types/node": "^7.0.12",
    "@types/qs": "^6.2.31"
  }
}
